image: kernai/test:{{MINI_VERSION}}-mini
manifests:
  -
    image: kernai/test:{{MINI_VERSION}}-mini-drone-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: kernai/test:{{MINI_VERSION}}-mini-drone-arm64
    platform:
      architecture: arm64
      os: linux
      variant: v8
